
*{
  margin: 0;
  padding: 0;
  font-family: "Chakra Petch", sans-serif;
  font-style: normal;
  }
@media screen and (min-width: 320px) and (max-width: 980px) {
  body {
    width: auto;
    height: auto;
    font-size: 10px;
  }
}  


  #sideNav {

  width: 200px;
  height: 520px;
  position: absolute;
  margin-bottom: 1em;
  left: -200px;
  top: 100%;
  background: linear-gradient(rgba(0,0,0,1), rgb(0, 100, 100));
  z-index: 1;
  transition: 1s;
  overflow-x: hidden;
  overflow-Y: scroll; 
}

 /*--custom scrollbar--*/

  ::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    background: white;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-button {
    width: 7px;
    background: gray;
    border-radius: 50px;

  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(49, 48, 48)
  }
  ::-webkit-scrollbar-button:hover {
    background: rgb(49, 48, 48)
    }
    
    
#sideNav h3 {
  color: white;
  text-align: center;
  padding: 0.5em;
  }

#sideNav ul li {
  list-style: none;
  padding: 1em;
  border-bottom: 0.5px solid white;
  border-radius: 5px;
}

#sideNav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
#sideNav ul li:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 100, 100));
  transform: scale(1.03);
  transition: all 0.9s ease;
}
#menuBtn {
  width: 45px;
  height: 45px;
  margin: 1em;
  background: transparent;
  position: absolute;
  text-align: center;
  top: 50%;
  float: left;
  z-index: 3;
  
}
#menuBtn img {
  width: 30px;
  height: 30px;
  
}

#menuBtn:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 100, 100));
  border-radius: 20px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .banner-title h1 {
    font-size: 24px;
    font-weight: bold;
}
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  #menuBtn {
    width: 35px;
    height: 35px;
}
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  #menuBtn img{
    width: 25px;
    height: 25px;
}
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  #sideNav ul li a{
    font-size: 13px;
}
}
.head-title h2 {
  font-size: 16px;
}
header {
  display: flex;
  flex-wrap: nowrap;
  position: sticky;
  top: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgb(0, 100, 100));
  background-position: center;
  width: 100%;
  left: 0;
  transition: all 2s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#head-wrapper {
  display: inline;
  flex-wrap: nowrap;
  position: sticky;
  top: 0;
  margin-left: 2em;
  }
.head-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 1px;
}

img {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 0.5em;
}

.head-title h4 {
  position: relative;
  top: 40%;
  color: white;
  font-family: "Chakra Petch", sans-serif;
  font-style: normal;

}
.head-title h5 {
  position: relative;
  top: 40%;
  color: white;
  font-family: "Chakra Petch", sans-serif;
  font-style: normal;

}

#banner {
  
  display: block;
  flex-wrap: nowrap;
  background: linear-gradient(rgba(0,0,0,0.5), rgb(0, 100, 100)),url("background-pattern.png");
  background-size: cover;
  background-position: center;
  padding: 5em;
  
  
}

.banner-title {
  text-align: center;
  color: white;
}
.banner-title h1 {
  font-size: 35px;
  font-weight: bold;
  padding: 0.5em;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
   header{
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
}
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  #head-wrapper{
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    margin-left: 0.5em;
}
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .head-container{
    display: flex;
    flex-wrap: wrap;
    font-size: 80%;
}
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  #head-wrapper img {
    width: 45px;
    height: 45px;
    
}
}

 /*--navigation bar--*/


.menu-bar {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  text-align: center;
  float: left;
  margin-left: 10em;
  padding: 1em;

}

.menu-bar ul .menu-bar li {
  display: flex;
  flex-wrap: nowrap;
  margin: 5px;
  padding: 0px;
  
}
.menu-bar ul {
  display: block;
  flex-wrap: nowrap;
  width: 100%;
  list-style: none;
}
.menu-bar li {
  position: relative;
  float: left;
  width: auto;
  padding: 10px 20px;
  margin-left: 2em;
  transition: 0.4s all ease-in-out;
  background: white;
  z-index: 1;
  }
  

.menu-bar a {
  display: block;
  font-size: 14px;
  color: black;
  text-decoration: none;
  text-align: left;
}

.menu-bar li:hover {
  color: black;
  

}
.menu-bar li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgb(233, 59, 85);
  transition: 0.4s all ease-in-out;
  }
.menu-bar-1 li::before {
  right: unset;
  right: 0;
  width: 0;
  }
.menu-bar-1 li:hover::before {
  bottom: unset;
  top: 0;
  width: 100%;
  }

.dropdwn-content {
  display: none;
  position: absolute;
  visibility: hidden;
  
}

.dropdwn-content li {
  margin: 0;
  list-style: none;
  
}
.dropdwn-content a {
  width: 215px;
  font-size: 14px;
  padding: 0.5em;
  }

.menu-bar ul li:hover .dropdwn-content {
  display: block;
  position: absolute;
  opacity: 1;
  visibility: visible;
  margin-top: 12px;
  margin-left: -107px;
  width: 270px;
}

.menu-bar ul li:hover .dropdwn-content a {
  display: block;
}

.menu-bar ul li:hover .dropdwn-content ul  {
  width: auto;
  padding: 5px;
  
  }

@media screen and (min-width: 320px) and (max-width: 600px) {
  .menu-bar{
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    float: left;
    margin-left: 2em;
}
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .menu-bar ul li {
    display: flex;
    flex-wrap: nowrap;
    padding: 3px 1px;
}
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .menu-bar a{
    font-size: 10px;
}
}
@media screen and (max-width: 550px) {
  .dropdwn-content a {
    width: 200px;
    font-size: 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .dropdwn-content {
    width: 150px;
  }
}

/*--about section--*/

#about {
  width: 100%;
  padding: 30px 0;
  background-color: rgb(241, 244, 251);

}
.section-title {
  text-align: center;
  padding-bottom: 50px;
}

.section-title h1 {
  font-size: 36px;
  color: black;
  font-weight: bold;
}
@media screen and (min-width: 320px) and (max-width: 780px) {
  .banner-title h1{
    font-size: 15px;
}
}

/*--card section--*/

#card-container {
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  width: 80%;


}
.card {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  padding: 5px 5px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 10px;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

}

.cards-image {
  background-size: cover;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 5px;

}
.card-1 {
  background-image: url("sister-city.png");

}

.card-2 {
  background-image: url("partnership.png");

}

.card-3 {
  background-image: url("diaspora.png");
}

.card-4 {
  background-image: url("know-tech.png");
}

.card:hover {
  background-color: rgb(0, 100, 100);
  color: white;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.06);
  transition: all 2s ease;
}

.card h3 {
  color: black;
  text-shadow: none;
  width: fit-content;
}
  
.card:hover h3 {
  color: white;

  }

.card p {
  color: black;
  text-shadow: none;
  font-size: 14px;
  
}
.card:hover p {
  color: white;
  }
  
@media screen and (min-width: 320px) and (max-width: 720px) {
  #card-container{
    display: block;
    flex-wrap: wrap;
    margin: auto auto;
    width: 80%;
    
}
}
@media screen and (min-width: 320px) and (max-width: 720px) {
  .section-title h1{
    font-size: 18px;
}
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    box-sizing: border-box;
}
}
@media screen and (min-width: 320px) and (max-width: 720px) {
  .cards-image{
    width: 100%;
    height: 60%;
    
}
}



/*--info section--*/
.info-container {
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  padding: 0.5em;
  margin: auto;
  background-color: rgb(241, 244, 251);
  border-top: 1px solid black;

  }  

.info-section {
  display: block;
  flex-wrap: nowrap;
  width: 65%;
  margin-top: 1em;
  margin-bottom: 1em;

  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

  }
.info-main-title {
  width: auto;
  padding: 0.5em;
  text-align: center;
  background: rgb(0, 100, 100);
  color: white;
  }

.info-main-title h2 {
  font-size: 200%;
  padding: 1em;
  }
.info-sub-title {
  width: auto;
  padding: 0.5em;
  margin-top: 0.5em;
  text-indent: 4%;
  }
  
.info-content {
  width: auto;
  margin-left: 4%;
  margin-right: 4%;
  
  }
.info-content p {
  padding: 0.5em;
  text-align: justify;
  line-height: 1.5;
  }
  

.info-content ul li {
  list-style-type: none;
  padding: 0.5em;
  margin-bottom: 0.5em;
  }
.info-content h5 {
  padding: 0.5em;
  font-size: 102%;
  }
  
.info-card-wrapper {
  display: block;
  width: 20%;
  
  margin-left: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;

  }
.info-card {
  width: auto;
  height: auto;
  margin-bottom: 0.5em;
  background: transparent;

  }
.info-card img {
  width: 94%;
  height: 94%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }
    
.info-card iframe {
    width: 75%;
    box-sizing: border-box;
    align-content: center;
  }

  @media screen and (min-width: 320px) and (max-width: 720px) {
    .info-card iframe {
      width: fit-content;
    }
  }
 
/*--footer section--*/

.footer {
  width: auto;
  position: absolute;
  bottom: 0;
  margin: 3px 3px 3px 3px;

}
.footer-container {
 position: relative;
 margin: 0;
 background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgb(0, 100, 100));
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 align-items: center;
 column-gap: 2em;
 }
.row { 
  width: auto; 
  padding: 0.5em;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  font-size: 15px;
  color: white;
  border-bottom: 1px solid white;

}

.col {
  position: relative;
  flex: 30%;
  padding: 1em;
  box-sizing: border-box;
  flex-wrap: nowrap;
  
}
.col a {
  color: white;
  text-decoration: none;
  
}

.col h1 a{
  width: 100%;
  position: relative;
  color: white;
  font-style: normal;
  font-size: 150%;
  font-weight: bold;
  box-sizing: border-box;
  }
.email-id {
  width: 80%;
  margin: 1em 1em 1em 1em;
  color: white;
  }

.col ul li {
  list-style: none;
  margin: 0 0 1.5em;
  
}
.col ul li a {
  text-decoration: none;
  color: white;
  box-sizing: border-box;

}
.col ul li a:hover {
  text-decoration: underline;
  background-image: conic-gradient(rgb(233, 59, 85), rgb(0, 100, 100), rgb(233, 59, 85), rgb(233, 59, 85));
  padding: 10px 10px; 
  transform: scale(1.04);
  transition: all 0.8s ease;
}

input {
  padding: 0.5em;
  box-sizing: border-box;
  align-items: center;
  position: relative;
}
button {
  color: white;
  background: rgb(0, 100, 100);
  font-size: 13px;
  padding: 0.5em;
  margin: 0.3em;
  position: relative;
  }
button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: red;
  z-index: -1;
  bottom: 0;
  right: 0;
  cursor: pointer;
  
  transform: scale(0, 1);
  transition: 0.5s; 
  }
button:hover::before {
  transform: scale(0, 1);
  
  }

.row a {
color: white;
text-decoration: none;
}
.row a:hover {
  color: gold;
  text-decoration: none;
  }
.row-bottom {
  width: 100%;
  text-align: center;
  
  }

@media screen and (min-width: 320px) and (max-width: 720px) {
  .footer{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    font-size: 10px;

}
}
@media screen and (min-width: 320px) and (max-width: 720px) {
  .col {
    position: relative;
    font-size: 10px;
    width: fit-content;
}
}
@media screen and (min-width: 320px) and (max-width: 7200px) {
  .row {
    display: flex;
    flex-wrap: nowrap;
    font-size: 10px;
}
}
@media screen and (min-width: 320px) and (max-width:720px) {
  .col input{
    width: 70%;
    font-size: 10px;
    box-sizing: border-box;
    display: flex;
}
}
@media screen and (min-width: 320px) and (max-width: 720px) {
  .col button{
    font-size: 70%;
    box-sizing: border-box;
  
}
}