
/*--team section--*/

*.team-container {
  display: inline-block;
  flex-wrap: nowrap;
  padding: 0.5em;
  margin: 0.1em;
  width: auto;
  background:  rgb(235, 245, 255);
  display: none;
  }

.row-1 {
  display: flex;
  width: 85%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 1em;
  flex-basis: 40%;
  padding: 0.5em;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }
.col-1 {
  color: black;
  text-align: left;
  padding: 0.5em;
  }
.col-1 img {
  width: 350px;
  height: 300px;
  border-radius: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }
.col-1 h5 {
  padding: 0.3em;
  text-align: center;
  font-size: 110%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }
.col-1 h3 {
  padding: 0.5em;
  }
.col-1 p {
  padding: 0.5em;
  font-size: 16px;
  }
.col-1 img:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.9s ease-in-out;
  }
  
  @media screen and (max-width: 550px) {
  .team-container {
    display: flex;
    flex-wrap: nowrap;
    font-size: 12px;
}
}
@media screen and (max-width: 550px) {
  .row-1 {
    display: block;
    flex-wrap: nowrap;
    font-size: 12px;
}
}

/*--cities section--*/
.cities-container {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to top, rgba(0,0,0,1), rgb(0, 100, 0));
  text-align: justify;
  margin: 0.5em;
  padding: 1em;

}
.cities-gallery {
  width: 400px;
  padding: 0.5em;
  margin: 1em;
  background: gray;
  }
.cities-gallery img {
  width: 350px;
  height: 300px;
  margin: 1em;
  padding: 0.5em;
  }
.cities-document {
  display: block;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.5em;
  margin: 0.5em;
  color: white;
  font-size: 17px;
  background: linear-gradient(to top, rgba(0,0,0,1), rgb(0, 100, 0));
  }
.cities-document ul li {
  list-style: none;
  padding: 0.5em;
  }
.cities-container h3 {
  color: white;
  margin-left: 1em;
  padding: 0.5em;
  }
.cities-text {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
  margin: 1em;
  color: white;
  font-size: 17px;
  padding: 0.5em;
}
.cities-container a:link {
  color: white;
  }

.cities-container a:visited {
 color: red;
 }
.cities-container a:hover {
 color: gold;
 }
 
 /*--resource section--*/
 
.res-container {
  display: flex;
  flex-wrap: wrap;
  background: rgb(235, 245, 255);
  
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  border-radius: 5px;
  padding: 0.5em;
  }
.res-container a {
  color: white;
  text-decoration: none;
  }

.res-category {
  display: block;
  flex-wrap: wrap;
  width: 300px;
  height:auto;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

  }
.res-category P {
  width: auto;
  padding: 0.5em;
  border-bottom: 2px solid white;
  font-size: 20px;
  text-align: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgb(0, 100, 100));
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  }
.res-category ul li {
  padding: 0.5em;
  margin: 0.5em;
  list-style: none;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgb(0, 100, 100));
  box-shadow: 0 0 20px 2px black;
  border-radius: 5px;
  }
.res-category ul li:hover {
  background: linear-gradient(360deg, rgba(0,0,0,1), rgb(0, 100, 0));
  text-decoration: underline;
  transform: scale(1.06);
  transition: 0.8s;
  }
  
.res-items {
  display: block;
  flex-wrap: wrap;
  position: relative;
  width: 600px;
  height: auto;
  margin-left: 1em;
  align-items: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  }
.res-items p {
  width: auto;
  padding: 0.5em;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgb(0, 100, 100));
  font-size: 20px;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  }

.items-column {
  flex: 70%;
  padding: 0.5em;
  margin: 0.5em;
  width: auto;
  height: 35px;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
  
  
  }
.items-column ul li {
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  list-style: none;

  } 
  
.items-row {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  font-size: 13px;
  margin: 1em;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgb(0, 100, 100));

  border-bottom: 1px solid black;
  border-radius: 5px;
  }


.items-row img{
  width: 40px;
  height: 40px;

  
  }
.items-row:hover {
  background: linear-gradient(360deg, rgba(0,0,0,1), rgb(0, 100, 0));
  transform: scale(1.04);
  transition: 0.9s;
  }
.items-row img:hover {
  color: blue;
  transform: scale(1.04);
  }
.items-row a:hover {
  color: gold;
  transform: scale(1.04);
  }
.res-social {
  display: block;
  flex-wrap: nowrap;
  position: relative;
  width: 300px;
  margin-left: 1em;
  color: white;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  }  
  
.res-social p {
  width: auto;
  padding: 0.5em;
  text-align: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgb(0, 100, 100));
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  }
  
  @media screen and (max-width: 600px) {
  .res-container {
    display: flex;
    flex-wrap: nowrap;
    font-size: 12px;
    align-self: auto;
}
}
@media screen and (max-width: 600px) {
  .res-items {
    font-size: 12px;
}
}

@media screen and (max-width: 600px) {
  .items-row {
    font-size: 11px;
}
}